
  div.card {
    border-radius: 8px;
    font-size: 14px;
    padding-top: 140px;
    margin-top: 140px;
    height: 420px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


@media screen and (max-width: 550px) {
  div.card {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

// .col-1 {width: 33.33%;}
// .col-2 {width: 33.33%;}
// .col-3 {width: 33.33%;}

  
  
  div.header {
    background-color: white;
    color: black;
    padding: 10px;
  }

  app-card {
      z-index: -1;
  }


 
 